body{
font-family: Arial;
background: linear-gradient(to right,#ff9a9e,#fad0c4);
margin:0;
}

header{
background:#ff5733;
color:white;
text-align:center;
padding:20px;
}

nav{
background:#ffbd69;
text-align:center;
padding:10px;
}

nav a{
margin:15px;
text-decoration:none;
font-weight:bold;
color:black;
}

nav a:hover{
color:white;
}

section{
padding:30px;
background:white;
margin:20px;
border-radius:10px;
}

.hero{
text-align:center;
padding:100px;
color:white;
background:linear-gradient(45deg,#ff512f,#dd2476);
}

footer{
text-align:center;
background:#333;
color:white;
padding:10px;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#ff5733;
color:white;
padding:10px 20px;
border:none;
cursor:pointer;
}
